
body {
  margin-top: 15px;
  margin-bottom: 10px;
}

.input-group {
  margin-bottom: 15px;
}

.bg-primary {
    background-color: #c9302c!important;
}

.card-block {
    padding: 0.25rem;
}

.thead-default th {
    color: #55595c;
    background-color: #d0d3d4;
}

.card-header {
    margin-bottom: auto;
    background-color: #fff3f3;
}

.text-danger {
  color: red;
  font-size: x-small;
}

.btn {
  vertical-align: top;
}

.group {
  float: left;
}

// .form-control {
//   color: #c9302c;
// }